.optionList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  margin-bottom: 16px;
}

.optBtn {
  border-radius: 5px;
  /* border: none; */
  background-color: teal;
  &:hover {
    background-color: turquoise;
  }
}

.resetBtn {
  background-color: tomato;
  &:hover {
    background-color: red;
  }
}
